.cnc {
  padding-top: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  min-height: 85vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}


@media (max-width: 600px) {
  .cnc {
    padding-top: 22vh;
  }
}