.wrapper {
  height: 100vh;
  height: 100dvh;
  display: flex;
}

.slide {
  flex:1;
  transition: 250ms ease;
  position:relative;
}

.slide::before {
  content:"";
  position:absolute;
  inset: 0;
  background:black;
  opacity:0.7;
  z-index:1;
  transition:inherit;
}

.slide:hover {
cursor: pointer;
}

.slide:hover::before {
  opacity:0;
}

.slide.active::before {
  opacity:0;
}

.image {
  height: 100%;
}

.slide.active {
  flex:15;
}

.slide.active .content {
  padding: 3rem;
}

.content {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 1rem;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.title {
  font-size: 2rem;
  writing-mode: vertical-rl;
}

.slide.active .title {
  writing-mode: horizontal-tb;
}

.desc {
  font-size: 1.75rem;
  margin-right: 2rem;
}

@media (max-width: 600px) {
  .wrapper {
    flex-direction: column;
    padding-top: max(130px, 16vh);
  }

  .slide.active {
    flex:5;
  }

  .content {
    padding: .5rem;
    height: auto;
    align-items: center;
  }

  .title {
    writing-mode: horizontal-tb;
    font-size: 1.25rem;
  }

  .desc {
    display: none;
  }
}