.header {
  position: fixed;
  width: 100%;
  background: #444444;
  z-index: 10;
  height: 10vh;
  min-height: 70px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1rem;
  flex-wrap: wrap;
  height: 100%;
}

.logo {
  height: 100%;
  display: contents;
}

.logo img {
  height: 100%;
  filter: invert();
  width: auto;
  max-height: 50px;
  max-width: 180px;
}

.socials {
  display: flex;
  gap: 1rem;
}

.socials > a {
transition: 0.25s;
}

.socials > a:hover {
  transform: scale(1.1);
}

@media (max-width: 600px) {
.header {
  height: 20vh;
  height: max(16vh, 130px);
}

  .wrapper {
    gap: 1rem;
  }

  .button {
    width: 100%;
    text-align: center;
  }
}