.contactForm {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.label {
  display: block;
  margin-block: .75rem;
}

.inputField {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

.button {
  background-color: #444;
  color: #fff;
  border: none;
  padding: .75rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 2rem;
  min-width: 120px;
}

.button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.successMessage {
  color: green;
  position: absolute;
  bottom: 0;
  left: 0;
}

.errorMessage {
  color: red;
  position: absolute;
  bottom: 0;
  left: 0;
}

.address {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-bottom: 1rem;
}

@media (max-width: 600px) {
  .label {
    margin-block: .25rem;
  }
  .address {
    gap: 0.25rem;
  }

  .button {
    margin-bottom: 0.25rem;
  }
}